.advantages {
  .list__item {
    @include flex-basis(4);
    max-width: 270px;
  }

  h3 {
    margin-bottom: 10px;
      
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
      
    color: $title-cl;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lgrey-bc;
    width: 100%;
    min-height: 120px;
    margin-bottom: 30px;
  }
  
  &__icon {
    padding: 0px;
    border: none;
  }
}
  
  
    