$main-cl: #757575;
$title-cl: #212121;
$accent-cl: #2196f3;
$accent-foc: #188ce8;
$black-op100: #000000;
$white-op100: #ffffff;
$white-op60: rgba(255, 255, 255, 0.6);
$white-op30: rgba(255, 255, 255, 0.3);
$white-op10: rgba(255, 255, 255, 0.1);
$black-op20: rgba(0, 0, 0, 0.2);
$black-op10: rgba(0, 0, 0, 0.1);
$dgrey-bc: #2f303a;
$lgrey-bc: #f5f4fa;
$border-cl: #eeeeee;
$border-heder: #ececec;
$hero-bc: rgba(47, 48, 58, 0.4);
$company: rgba(175, 177, 184, 1);
$card-bc: rgba(33, 150, 243, 0.9);
$card-exp-bc: rgba(47, 48, 58, 0.8);
$anim-duration: 250ms;
$anim-type: cubic-bezier(0.4, 0, 0.2, 1);
$form-border: rgba(33, 33, 33, 0.2);
$gap: 15px;